* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  
	height: 100%;
	width: 100%;
}

.header-box {
	display: flex;
	flex: 1;
	background-color: #1F2937;
}

.header-box h1 {
	font-size: 24px;
	color: #F9FAF8;
}

.header-box p {
	font-size: 18px;
	color: #F9FAF8;
	justify-content: right;
	display: flex;
	gap: 10rem;
}