* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.header-box {
	display: flex;
	background-color: #1F2937;
	padding: 2rem;
	padding-right: 10rem;
	padding-left: 25rem;
	gap: 1rem;
}

.header-box h1 {
	color: #F9FAF8;
	font-size: 24px;
	flex: 1;
}

.header-box p {
	color: #E5E7EB;
	font: 18px;
}

.hero {
	display: flex;
	gap: 5rem;
	background-color: #1F2937;
}

.hero-box1 {

}

.hero-box1 h1 {

}
.hero-box1 p {

}

.hero-box1 button {

}