* {
	background-color: #1F2937;
}

.box1 {
	background-color: #1F2937;
	display: flex;
}

.box1 .header {
	font-size: 24px;
	background-color: #1F2937;
	color: #F9FAF8;
	margin-top: 0.5em;
	padding-left: 9em;
	flex: 2;
}

.links-box {
	display: flex;
	gap: 1em;
	font-size: 18px;
	color: #F9FAF8;
}

.box2 {
	background-color: #1F2937;
	display: flex;
	flex-direction: column;
}